h1{
    text-align: center;
    font-family: cursive;
    color: red;
    background-color: aliceblue;
}
img{
    margin: 10px;
    border-style: ridge;
	border-color:red;
    width: 500px;
    height: 500px;
}